<!DOCTYPE html>
<html lang="en" ng-app="votingApp">
  <head>
    <title>Voting App</title>

    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>
    <script src="app/app.js"></script>

    
  </head>
  <body ng-controller="VotingController">
{{choices}}
    <div id="content">
      <div id="menu-bar">
        <h2>Voting Poll</h1>
      </div>

      <div id="pollContent">
        <h1>Create New Poll</h1>
        <hr/>

        <form ng-submit="createPoll()">
            <p>Question</p>
            <input type="text" ng-model="pollQuestion" />

            <p>Answers</p>
          <ul id="answers">
            <answers choices="choices"></answers>
          </ul>
          <input id="create" type="submit" value="Create Poll" />
        </form>
        <button ng-click="addAnswer()">Add Another</button>
        <hr/>
        
    
      </div>

    </div>
    




  </body>
</html>
