*{
	margin: 0;
	padding: 0;
}

#menu-bar {
	width:100%;
	padding: 1em 0;
	background-color: teal;

	h1 {
		margin-left:1em;
	}
}

#pollContent {
	width:60%; 
	padding: 100px 0;
	margin: auto;


	hr {
		margin:30px 0;
	}

	p {
		margin: 2em 0;
	}

	li {

		list-style: none;
		margin: 1em 0px;

	}

	form {
		.floatRight {
			float: right;
		}

		 button,input {
		  background: #fff;
		  padding: 10px;
		  border-radius: 10px;
		  cursor: pointer;
		  color: #777;
		  border: 0;
		  box-shadow: 2px 2px 2px rgba(20,20,20,0.1);
		  font-size: 16px;
		}
	}

	#create {
		float:right;
	}


} 

#poll {
	width:60%; 
	padding: 100px 0;
	margin: auto;

	#pollQuestion {
		background-color: #e0e0e0;
	}

	#pollAnswers {
		width: 50%;
		margin:auto;
		margin-top: 3em;


		ul {
			list-style: none;
			button {
					float: right;
				}

			li{
				margin-bottom: 2em;


			}

			.w3-progress-container {
				margin-bottom:4em;
				position:relative;

				button,input {
				  background: #fff;
				  padding: 10px;
				  border-radius: 10px;
				  cursor: pointer;
				  color: #777;
				  border: 0;
				  box-shadow: 2px 2px 2px rgba(20,20,20,0.1);
				  font-size: 16px;
				  position: absolute;
				  top:25px;
				  right: 0;
				}

			}


		}
	}
}

.ng-enter {
	transition:0.75s;
	opacity:0;
}

.ng-enter-active{
	opacity: 1;
}
.ng-leave{
	transition:0.75s;
	opacity: 1;
}
.ng-leave-active{
	opacity:0;
}