      <div id="pollContent" >
        <h1>Create New Poll</h1>
        <hr/>

        <form name="pollForm" ng-submit="createPoll()" novalidate>
            <p>Question</p>
            <input name="question" type="text" ng-model="pollQuestion" ng-required="true" />
            <span>
            <div ng-show="pollForm.question.$touched && pollForm.question.$invalid">
              <small style="color:red; display: block; margin-top: 1em">Enter a Question</small>
            </div>
            </span>

            <p>Answers</p>
          <ul id="answers">
            <answers choices="choices"></answers>
          </ul>
          <input class="floatRight" ng-click="redirect('/poll')" type="submit" ng-disabled="pollForm.$invalid" value="Create Poll" />
        </form>
        <button ng-click="addAnswer();">Add Answer  <i class="fa fa-plus" aria-hidden="true"></i></button>
        <hr/>
      </div>

