* {
  margin: 0;
  padding: 0; }

#menu-bar {
  width: 100%;
  padding: 1em 0;
  background-color: teal; }
  #menu-bar h2 {
    margin-left: 1em; }

#pollContent {
  width: 60%;
  padding: 100px 0;
  margin: auto; }
  #pollContent hr {
    margin: 30px 0; }
  #pollContent p {
    margin: 2em 0; }
  #pollContent li {
    list-style: none;
    margin: 1em 0px; }
  #pollContent form .floatRight {
    float: right; }
  #pollContent #create {
    float: right; }

#poll {
  width: 60%;
  padding: 100px 0;
  margin: auto; }
  #poll #pollQuestion {
    background-color: #e0e0e0; }
  #poll #pollAnswers {
    width: 50%;
    margin: auto;
    margin-top: 3em; }
    #poll #pollAnswers ul {
      list-style: none; }
      #poll #pollAnswers ul button {
        float: right; }
      #poll #pollAnswers ul li {
        margin-bottom: 1em; }
